#selectors {
  position: fixed;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}
#offset {
  height: 25px;
}
#HeightButton {
  width: 144px;
  z-index: 1;
}
#chart {
  position: relative;
  display: block;
  overflow-x: auto;
  width: 100%;
  padding-bottom: 20px;
}
.entry {
  position: absolute;
  align-items: center;
  width: auto;
  z-index: 1;
}
.image-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-wrapper {
  white-space: pre;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.height-wrapper {
  white-space: pre;
}
.floor {
  position: absolute;
  bottom: 0;
  left: 0;
  background: red;
  z-index: 0;
}
.height-line {
  position: absolute;
  bottom: 0;
  left: 0;
  background: blue;
  z-index: 0;
}